@model IEnumerable<ViewComponentPractice.Models.Vendor>

@{
    ViewData["Title"] = "Vendors";
}

<h1>Vendors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VendorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorContactLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorContactFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultTermsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultAccountNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VendorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorContactLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorContactFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultTermsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultAccountNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
